body{
    font-family: "Roboto";
    margin: 0px; /*removes default margin*/
}

.header{
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 80px; /*adds breathing room*/
}

.logo{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 700;
}

ul{
    font-size: 18px;
    list-style: none; /*remove bullet from list*/
    display: flex; /*displays the right side header links horizontally*/
    margin: 0px;
    padding: 0px;
    gap: 32px;
}

a{
    /*remove link underline*/
    text-decoration:none;
    color: #E5E7EB;
    font-size: 18px;
}


.hero{
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 80px;
    gap: 60px; /*space between left and right side */
}

.hero-left{
    max-width: 450px;  /*pervents text from stretching too wide*/
}

.main-text{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin-bottom: 16px;
}

.secondary-text{
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 32px;
}

.signup-btn{
    color: white;
    background-color: #3882F6;
    padding: 12px 32px;
    font-size: 18px;
    font-weight: 700;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.hero-right{
    background-color: grey;
    width: 300px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}